@import './common/buttons';
@import './common/components';
@import './general/colors';
@import './general/reset';
@import './general/variables';
@import './general/general';

#portfolio-all{
    .container{
        .row{
            .portfolio-header {
                display: flex;
            
                .logo {
                    font-family: Poppins;
                    font-weight: bold;
                    font-size: 22px;
                    margin-top: 20px;
                    margin-left: 60px;
                    opacity: .9;
                }
            
                .nav-bar {
                    ul {
                        margin-left: 685px;
            
                        li {
            
                            a {
                                text-decoration: none;
                                padding: 5px 22px;
                                font-family: Poppins;
                                color: $main-color;
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 60px;
                                border: 1px solid transparent;
                                transition: all .3s ease;
            
                                &:hover {
                                    color: #fff;
                                    border: 1px solid $main-color;
                                    background: $main-color;
                                    transition: all .3s ease;
                                }
                                &:active {
                                    color: #fff;
                                    border: 1px solid $main-color;
                                    background: $main-color;
                                    transition: all .3s ease;
                                }
                            }
                        }
                    }
                }
            }
            .content{
                background-color: $content-bc;
                width: 1245px;
                margin-left: 60px;
                .main-image{
                    img{
                        width: 435px;
                        height: 535px;
                    }
                }
            }
        }
    }
}